<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create account</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/common.js" defer></script>
  </head>
  <body>
    <section class="bg-[#ef4f5f] min-h-screen flex items-center">
      <div class="md:w-2/4 xs:p-4 rounded-md my-0 mx-auto bg-white md:p-9 p-5">
        <h1
          class="text-center mb-6 xs:text-2xl font-bold lg:text-4xl text-3xl text-[#ef4f5f]"
        >Create your account and order food
          <b>NOW !!</b>
        </h1>
        <form>
          <div class="flex justify-between flex-wrap">
            <div class="lg:w-2/4 w-full px-2">
              <label class="form-label">First Name</label><br />
              <input
                type="text"
                class="border-2 border-[#ef4f5f] py-2 px-2 w-full rounded mb-4"
                id="signup-Fname"
                name="First Name"
                placeholder="Enter first name"
              />
            </div>
            <div class="lg:w-2/4 w-full px-2">
              <label class="form-label">Last name</label><br />
              <input
                type="text"
                class="border-2 border-[#ef4f5f] py-2 px-2 w-full rounded mb-4"
                id="signup-Lname"
                placeholder="Enter last name"
                name="Last Name"
              />
            </div>

            <div class="lg:w-2/4 w-full px-2">
              <label class="form-label">Email address</label><br />
              <input
                type="text"
                class="border-2 border-[#ef4f5f] py-2 px-2 w-full rounded mb-4"
                id="signup-email"
                placeholder="Enter email ID"
                name="Email ID"
              />
            </div>
            <div class="lg:w-2/4 w-full px-2">
              <label class="form-label">Phone number</label><br />
              <input
                type="text"
                class="border-2 border-[#ef4f5f] py-2 px-2 w-full rounded mb-4"
                id="signup-phone"
                placeholder="Enter phone number"
                name="Phone Number"
              />
            </div>

            <div class="lg:w-2/4 w-full px-2">
              <label class="form-label">Password</label><br />
              <input
                type="password"
                class="border-2 border-[#ef4f5f] py-2 px-2 w-full rounded mb-4"
                id="signup-password"
                placeholder="********"
                name="Password"
              />
            </div>
            <div class="lg:w-2/4 w-full px-2">
              <label class="form-label">Confirm Password</label><br />
              <input
                type="password"
                class="border-2 border-[#ef4f5f] py-2 px-2 w-full rounded mb-4"
                id="signup-Cpassword"
                placeholder="********"
                name="Confirm Password"
              />
            </div>

            <div class="text-center w-full mt-5">
              <a
                class="bg-[#ef4f5f] text-white px-6 py-2 font-bold rounded cursor-pointer"
                onclick="formValidation('signup')"
              >
                Create account
              </a>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>