<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="/js/common.js" defer></script>
</head>
<body>
    <header class="py-4 px-4 md:px-10 shadow-md bg-[#ef4f5f]">
        <nav class="flex justify-between items-center md:w-3/4 my-0 mx-auto">
            <div>
                <h4 class="font-semibold text-white text-4xl"><i class='fas fa-hamburger text-white text-4xl'></i> Foody</h4>
            </div>
            <div>
               <a href="/login" id="profileLink"><i class="fas fa-user-astronaut text-4xl cursor-pointer text-white"></i> <span class="text-white text-lg"><b id="UserName"></b></span> </a>
            </div>
        </nav>
    </header>
    <section>
        <div class="flex flex-col items-center justify-center bg-[#ef4f5f]" style="min-height: 50vh;">
            <h1 class="text-2xl md:text-6xl text-white text-center font-bold">Good Price Good Quality <br/> So Why Are You Wait For ?</h1>
            <button class="px-6 md:px-8 py-3 md:py-5 bg-white text-[#ef4f5f] mt-8 font-bold text-lg md:text-2xl rounded-md">ORDER NOW !!</button>
        </div>
    </section>

    <section class="py-8">
        <div class="md:w-3/4 mx-auto">
            <h2 class="text-3xl	font-semibold mb-5">What's you favorite ?</h2>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"> <a href="/product" class="flex flex-col items-center"><img src="/images/pizaa.jpg"/><p>Pizza</p></a> </div>
                    <div class="swiper-slide"> <a href="/product" class="flex flex-col items-center"><img src="/images/burger.jpeg"/><p>Burger</p></a> </div>
                    <div class="swiper-slide"> <a href="/product" class="flex flex-col items-center"><img src="/images/biryani.jpg"/><p>Biryani</p></a> </div>
                    <div class="swiper-slide"> <a href="/product" class="flex flex-col items-center"><img src="/images/chapp.jpeg"/><p>Soya Chaap</p></a> </div>
                    <div class="swiper-slide"> <a href="/product" class="flex flex-col items-center"><img src="/images/tika.jpg"/><p>Panner Tika</p></a> </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        grabCursor: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          640: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 4,
            spaceBetween: 50,
          },
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
      });

      window.addEventListener('load', () => {
        let userValue = localStorage.getItem('islogin')
        if(userValue){
          userValue = JSON.parse(userValue)
          document.getElementById("UserName").innerHTML = `Hi, ${userValue.name}`
          document.getElementById("profileLink").setAttribute("href", `/profile?user=${userValue.userID}`)
        }
      })
    </script>
</body> 
</html>