<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="/js/common.js" defer></script>
  </head>
  <body>
    <section>
        <div class="h-screen flex justify-center items-center flex-col">
          <img src="/images/confirm.gif" class="lg:w-2/6 md:w-2/3"/>
          <h1 class="md:text-3xl text-2xl font-semibold text-center">Your Order successfully placed <br> <span class="font-normal text-lg"> Your Order ID- <span class="font-bold" id="orderID">AB435</span> </span></h1>
          <a href="/" class="underline text-[#3b82f6]">Go to home</a>
        </div>
    </section>
  </body>
</html>